video {
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -100;
    filter: grayscale(70%);
}

#avatarImg {
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}

body > p {
    margin-left: auto;
    margin-right: auto;
    text-align:center;
    background-color: #ffaa9b;
    border-radius: 15px;
    padding: 10px;
    width: 120px;
    height: 30px;
    line-height: 300%;
}